<div class="cartao-container" (click)="virarCartao()">
  <div class="cartao-interno" [class.virado]="!frente">
    <div class="cartao-face cartao-frente">
      <div class="cartao-padrao" [ngClass]="tipo">
        <img class="pixels" src="assets/img/pixels-1.png" alt="pixels" />
        <div class="info">
          <img class="titulo" src="assets/img/cartao.png" alt="platinum" />
          <div class="dados">
            <span>{{ cartao.name }}</span>
            <span> {{ cartao.number }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="cartao-face cartao-costas">
      <div class="cartao-padrao" [ngClass]="tipo">
        <div class="dados-costas">
          <span>CVC: {{ cartao.cvc }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
