<div class="header">
  <div class="items">
    <img class="logo" src="assets/img/logo.svg" alt="logo" />
    <span>Sobre</span>
    <span>Serviços</span>
  </div>
  <div class="botoes">
    <app-botao-padrao corFundo="#47A138" corBorda="#47A138" texto="Abrir minha conta" (clickEvent)="registrarTeste()"></app-botao-padrao>
    <app-botao-padrao
      corFundo="#000000"
      corBorda="#47A138"
      corFonte="#47A138"
      texto="Já tenho conta"
      (clickEvent)="loginTeste()"
    ></app-botao-padrao>
  </div>
</div>
