<div class="header">
  <div class="header__items">
    <img class="logo" src="assets/img/logo.svg" alt="logo" />
    <span>Sobre</span>
    <span>Serviços</span>
  </div>
  <div class="header__botoes">
    <button class="secundaria" (click)="abrirModal(registrarTemplate)">Abrir minha conta</button>
    <button class="secundaria--outline" (click)="abrirModal(loginTemplate)">Já tenho conta</button>
  </div>
</div>
<div class="body"></div>

<ng-template #loginTemplate>
  <form [formGroup]="formLogin">
    <div class="formulario">
      <img src="assets/img/login.png" alt="login" />
      <div class="formulario__titulo">Login</div>
      <div class="formulario__texto">Email</div>
      <input type="text" class="formulario__input" formControlName="email" placeholder="Digite seu email" />
      <div class="formulario__texto">Senha</div>
      <input type="password" class="formulario__input" formControlName="password" placeholder="Digite sua senha" />
      <div class="formulario__botoes">
        <button class="secundaria" [disabled]="formLogin.invalid" (click)="login()">Acessar</button>
        <button class="secundaria" (click)="fecharModal()">Fechar</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #registrarTemplate>
  <form [formGroup]="formRegistrar">
    <div class="formulario">
      <img src="assets/img/cadastro.png" alt="cadastro" />
      <div class="formulario__titulo">Preencha os campos abaixo para criar sua conta corrente!</div>
      <div class="formulario__texto">Nome</div>
      <input type="text" class="formulario__input" formControlName="username" placeholder="Digite seu nome completo" />
      <div class="formulario__texto">Email</div>
      <input type="text" class="formulario__input" formControlName="email" placeholder="Digite seu email" />
      <div class="formulario__texto">Senha</div>
      <input type="password" class="formulario__input" formControlName="password" placeholder="Digite sua senha" />
      <div class="formulario__botoes">
        <button class="primaria" [disabled]="formRegistrar.invalid" (click)="registrar()">Criar conta</button>
        <button class="secundaria" (click)="fecharModal()">Fechar</button>
      </div>
    </div>
  </form>
</ng-template>
