.header {
  display: flex;
  width: 100%;
  height: 100px;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  color: #47a138;
  background-color: #000000;

  .items {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .botoes {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.body {
  height: 100%;
  background: linear-gradient(180deg, #004d61 0%, #ffffff 100%);
}

.formulario {
  gap: 16px;
  width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .titulo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .texto {
    font-size: 16px;
    font-weight: bold;
  }

  .form-control {
    width: 90%;
    border: none;
    background: #fff;
    padding: 12px;
    border-radius: 8px;
  }

  .botoes {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
}
