<div class="header">
  <div class="items">
    <img loading="lazy" class="logo" src="assets/img/logo.svg" alt="logo" />
    <span>Sobre</span>
    <span>Serviços</span>
  </div>
  <div class="botoes">
    <button class="secundaria" (click)="abrirModal(registrarTemplate)">Abrir minha conta</button>
    <button class="secundaria--outline" (click)="abrirModal(loginTemplate)">Já tenho conta</button>
  </div>
</div>
<div class="body"></div>

<ng-template #loginTemplate>
  <form [formGroup]="formLogin">
    <div class="formulario">
      <div class="titulo">Login</div>
      <div class="texto">Email</div>
      <input type="text" class="form-control" formControlName="email" placeholder="Digite seu email" />
      <div class="texto">Senha</div>
      <input type="password" class="form-control" formControlName="password" placeholder="Digite sua senha" />
      <div class="botoes">
        <button class="secundaria" [disabled]="formLogin.invalid" (click)="login()">Acessar</button>
        <button class="secundaria" (click)="fecharModal()">Fechar</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #registrarTemplate>
  <form [formGroup]="formRegistrar">
    <div class="formulario">
      <div class="titulo">Preencha os campos abaixo para criar sua conta corrente!</div>
      <div class="texto">Nome</div>
      <input type="text" class="form-control" formControlName="username" placeholder="Digite seu nome completo" />
      <div class="texto">Email</div>
      <input type="text" class="form-control" formControlName="email" placeholder="Digite seu email" />
      <div class="texto">Senha</div>
      <input type="password" class="form-control" formControlName="password" placeholder="Digite sua senha" />
      <div class="botoes">
        <button class="primaria" [disabled]="formRegistrar.invalid" (click)="registrar()">Criar conta</button>
        <button class="secundaria" (click)="fecharModal()">Fechar</button>
      </div>
    </div>
  </form>
</ng-template>
