button {
  border: none;
  padding: 16px 40px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff5031;
  border: 2px solid #ff5031;
  white-space: nowrap;
  cursor: pointer;
}
