<div class="cartoes">
  <!-- <img class="pixels" src="assets/img/pixels-2.png" alt="pixels" /> -->
  <div class="titulo">Meus Cartões</div>
  <ng-container *ngFor="let cartao of cartoes">
    <div class="cartao">
      <app-cartao tipo="fisico" [cartao]="cartao"></app-cartao>
      <div class="botoes">
        <app-botao-padrao texto="Configurar"></app-botao-padrao>
        <app-botao-padrao
          corFundo="transparent"
          corFonte="#BF1313"
          corBorda="#BF1313"
          [texto]="cartao.is_blocked ? 'Desbloquear' : 'Bloquear'"
          (clickEvent)="bloquear(cartao)"
        ></app-botao-padrao>
        <div>Função: {{ cartao.type }}</div>
      </div>
    </div>
  </ng-container>
</div>
