.cartoes {
  gap: 24px;
  padding: 32px;
  max-width: 690px;
  border-radius: 8px;
  background-color: #cbcbcb;
  display: flex;
  flex-direction: column;

  &__titulo {
    font-weight: 700;
    font-size: 25px;
  }
}

.cartao {
  display: flex;
  gap: 32px;

  &__botoes {
    gap: 16px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}
