<div class="cartoes">
  <!-- <img class="pixels" src="assets/img/pixels-2.png" alt="pixels" /> -->
  <div class="titulo">Meus Cartões</div>
  <ng-container *ngFor="let cartao of cartoes">
    <div class="cartao">
      <app-cartao tipo="fisico" [cartao]="cartao"></app-cartao>
      <div class="botoes">
        <button class="primaria">Configurar</button>
        <button [ngStyle]="{ background: 'transparent', color: '#BF1313', 'border-color': '#BF1313' }" (click)="bloquear(cartao)">
          {{ cartao.is_blocked ? 'Desbloquear' : 'Bloquear' }}
        </button>
        <div>Função: {{ cartao.type }}</div>
      </div>
    </div>
  </ng-container>
</div>
